a,
abbr,
acronym,
address,
applet,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul,
var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline
}

ol,
ul {
    list-style: none
}

table {
    border-collapse: separate;
    border-spacing: 0
}

caption,
table,
td,
th {
    vertical-align: middle
}

caption,
td,
th {
    text-align: left;
    font-weight: 400
}

a img {
    border: none
}

html {
    box-sizing: border-box
}

*,
:after,
:before {
    box-sizing: inherit
}

@media screen {
    body,
    html {
        height: 100%
    }
}

body {
    font-size: 1rem;
    color: #222;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative
}

.footer-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
}

@media screen and (max-width:700px) {
    .footer-wrapper {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: stretch;
    }
    .footer-wrapper div p {
        line-height: 0.8rem;
        font-size: 0.7rem;
        padding-left: 0px;
        text-align: justify;
        text-justify: distribute-all-lines;
    }
}

@media screen {
    .wrapper {
        max-width: 1200px;
        margin: 0 auto;
    }
}

#content-wrap {
    background: #fff;
    min-height: 100%;
    padding-bottom: 8.5rem;
}

#header {
    background: white;
    opacity: 0.9;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width:900px) {
    #header {
        opacity: 1;
        box-shadow: 0 0 0 0;
    }
}

@media print {
    #header {
        display: none
    }
}

#header-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-lines: single;
    -moz-box-lines: single;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (max-width:900px) {
    #header-inner {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 0.5rem 0;
    }
}

#main-nav {
    display: none;
    -webkit-box-flex: 1;
    box-flex: 1;
    -ms-flex: 1 auto;
    flex: 1 auto;
    text-align: right;
}

@media screen and (min-width:900px) {
    #main-nav {
        display: block
    }
}

.main-nav-link {
    color: black;
    font-size: 1.1rem;
    text-decoration: none;
    line-height: 50px;
    opacity: 0.9;
    -webkit-transition: .1s;
    transition: .1s;
    display: inline-block;
    padding: 0 15px
}

.main-nav-link:hover {
    opacity: 1;
    color: #075E04;
    font-weight: 700;
}

.nav-active {
    opacity: 1;
    color: #075E04;
    font-weight: 700;
}

#lang-select-wrap {
    display: none;
    position: relative
}

@media screen and (min-width:769px) {
    #lang-select-wrap {
        display: block
    }
}

#lang-select-label {
    color: #fff;
    opacity: .7;
    line-height: 50px
}

#lang-select-label span {
    padding-left: 8px
}

#lang-select-label i {
    opacity: .7
}

#lang-select {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-appearance: menulist-button;
    font-size: inherit
}

#sidebar {
    width: 9rem;
    float: left;
    margin-left: -9rem;
    opacity: 0.9;
    display: flex;
    font-size: 18px;
    position: fixed;
    flex-direction: column;
    overflow-y: auto;
}

@media screen and (max-width:900px) {
    #sidebar {
        display: none
    }
}

.sidebar-title {
    padding: 0.7rem 0 0.5rem 0.5rem;
    font-weight: 700;
    color: black;
    background: #e2e7d4;
    display: inline-block;
    width: 100%;
    font-size: 1.1rem;
}

.sidebar-item,
.sidebar-title,
.toc-link {
    line-height: 1;
}

.toc-link {
    display: block;
    color: black;
    text-decoration: none;
    padding: 0.8rem 0 0rem 0.5rem;
    font-size: 0.9rem;
    position: relative;
    width: 100%;
    white-space: wrap
}

.sidebar-link.current,
.toc-link.current {
    color: #0e83cd
}

.toc-link:hover {
    color: #222;
    font-weight: 700;
    -webkit-transition: .2s;
    transition: .2s;
}

#content-wrap {
    position: relative
}

#content-wrap:after,
#content-wrap:before {
    content: "";
    display: table
}

#content-wrap:after {
    clear: both
}

@media screen and (min-width:900px) {
    #content-inner {
        padding-left: 10rem;
    }
}

@media screen and (min-width:900px) {
    .article-container {
        animation: intro 0.7s both;
        animation-delay: 0.1s;
        float: left;
        width: 100%;
    }
}

.article {
    float: left;
    width: 100%;
    padding: 0 1rem;
    border-left: 1px solid #eee;
}

@media print {
    .article {
        padding: 0
    }
}

#article-toc {
    display: none;
    float: right;
    width: 220px;
    margin-right: -220px;
    opacity: .8
}

@media screen and (min-width:769px) {
    #article-toc {
        display: block
    }
}

#article-toc.fixed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 220px
}

#article-toc-inner {
    overflow-x: hidden;
    overflow-y: auto;
    width: 220px
}

.fixed #article-toc-inner {
    position: fixed;
    top: 0;
    bottom: 0
}

.toc-child {
    padding-left: 1em;
    font-size: .9em
}

#article-toc-top {
    margin-top: 2em;
    font-size: .9em;
    text-decoration: none;
    color: #444;
    display: block;
    margin-bottom: 40px;
}

#article-toc-top:hover {
    color: #1094e8
}

.article-header {
    padding-bottom: 1rem;
}

.article-header:after,
.article-header:before {
    content: "";
    display: table
}

.article-header:after {
    clear: both
}

.article-title {
    float: left;
    font-size: 1.6rem;
    line-height: 1.8rem;
    text-decoration: none;
    color: #444;
    -webkit-transition: .2s;
    transition: .2s;
}

a.article-title:hover {
    color: #1094e8
}

.post .article-title {
    float: none
}

.article-date {
    color: #999;
    text-decoration: none;
    display: inline-block;
    margin-top: 1em
}

.article-date:hover {
    color: #1094e8
}

.article-edit-link {
    float: right;
    color: #bbb;
    font-size: 24px;
    line-height: 36px;
    -webkit-transition: .2s;
    transition: .2s;
    display: none
}

.article-edit-link:hover {
    color: #1094e8
}

@media screen and (min-width:769px) {
    .article-edit-link {
        display: block
    }
}

.article-anchor {
    margin-left: 10px;
    display: none
}

.article-anchor:before {
    content: "#"
}

@media print {
    .article-anchor {
        display: none!important
    }
}

.article-heading:hover .article-anchor {
    display: inline-block
}

.article-content {
    line-height: 1.6em;
    color: #444
}

@media print {
    .article-content {
        font-size: 12pt
    }
}

.article-content .highlight,
.article-content blockquote,
.article-content dl,
.article-content iframe,
.article-content ol,
.article-content p,
.article-content table,
.article-content ul {
    font-size: 0.9rem;
    line-height: 30px;
    text-align: justify;
    text-justify: distribute-all-lines;
}

.article-content p {
    text-indent: 2em;
}

.article-content h1 {
    font-size: 1.8em
}

.article-content h2 {
    font-size: 1.2em
}

.article-content h3 {
    font-size: 1em
}

.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
    line-height: 1em;
    font-weight: 700;
    margin-top: -4em;
    padding-top: 5em;
    padding-bottom: 0.5rem;
}

.article-content a {
    color: #0e83cd;
    text-decoration: none
}

.article-content a:hover {
    color: #1094e8;
    text-decoration: underline
}

@media print {
    .article-content a {
        color: #444;
        text-decoration: underline
    }
    .article-content a:after {
        content: " (" attr(href) ")";
        font-size: 80%
    }
}

.article-content strong {
    font-weight: 700
}

.article-content em {
    font-style: italic
}

.article-content dl,
.article-content ol,
.article-content ul {
    margin-left: 20px
}

.article-content dl dl,
.article-content dl ol,
.article-content dl ul,
.article-content ol dl,
.article-content ol ol,
.article-content ol ul,
.article-content ul dl,
.article-content ul ol,
.article-content ul ul {
    margin-top: 0;
    margin-bottom: 0
}

.article-content ul {
    list-style: disc
}

.article-content ol {
    list-style: decimal
}

.article-content dl {
    list-style: square
}

.article-content li p {
    margin: 0
}

.article-content li .highlight,
.article-content li blockquote,
.article-content li iframe,
.article-content li table {
    margin: 1em 0
}

.article-content img,
.article-content video {
    max-width: 100%
}

.article-content blockquote {
    padding: 0 20px;
    position: relative;
    border: 1px solid #e3e3e3;
    border-left: 5px solid #ddd
}

.article-content blockquote footer {
    margin: 1em 0;
    font-style: italic
}

.article-content blockquote footer cite:before {
    content: "—";
    padding: 0 .3em
}

.article-content blockquote footer cite a {
    color: color-grey
}

.article-content .note.tip {
    border-left-color: #fa0
}

.article-content .note.info {
    border-left-color: #0af
}

.article-content .note.warn {
    border-left-color: red
}

.article-content .note-title {
    margin: 1em 0;
    display: block;
    font-size: 1.3em;
    font-weight: 700
}

.article-content table {
    max-width: 100%;
    border: 1px solid #e3e3e3
}

.article-content table th {
    font-weight: 700
}

.article-content table td,
.article-content table th {
    padding: 5px 15px
}

.article-content table tr:nth-child(2n) {
    background: #eee
}

.article-footer {
    margin: 1em 0;
    border-top: 1px solid #e3e3e3;
    text-align: center;
    color: #999;
    line-height: 1em;
    padding-top: 1em;
    position: relative
}

.article-footer:after,
.article-footer:before {
    content: "";
    display: table
}

.article-footer:after {
    clear: both
}

@media print {
    .article-footer {
        display: none
    }
}

.article-footer-next,
.article-footer-prev {
    color: #0e83cd;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute
}

.article-footer-next:hover,
.article-footer-prev:hover {
    color: #1094e8
}

@media print {
    .article-footer-next,
    .article-footer-prev {
        display: none
    }
}

.article-footer-next span,
.article-footer-prev span {
    padding: 0 6px
}

.article-footer-prev {
    left: 0
}

.article-footer-next {
    right: 0
}

.article-footer-updated {
    font-size: .9em
}

@media print {
    #comments {
        display: none
    }
}

.post {
    margin: 0 auto;
    float: none
}

@media screen {
    .post {
        max-width: 800px
    }
}

#mobile-nav {
    position: fixed;
    top: 0;
    width: 160px;
    left: -160px;
    height: 100%;
    background: #f4f9e4;
    -webkit-transition: .4s;
    transition: .4s;
}

.mobile-nav-on #mobile-nav {
    -webkit-transform: translateX(100%);
    transform: translateX(100%)
}

#mobile-nav-inner {
    text-align: center;
    font-size: 18px;
    overflow-y: auto;
    padding: 10px 0;
    position: absolute;
    top: 0;
    bottom: 40px;
    left: 0;
    right: 0;
    -webkit-overflow-scrolling: touch
}

#mobile-nav-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    width: 25px;
    height: 20px;
    margin: auto;
    opacity: .5;
    cursor: pointer;
    -webkit-transition: .2s;
    transition: .2s
}

#mobile-nav-toggle:active,
.mobile-nav-on #mobile-nav-toggle {
    opacity: 1
}

@media screen and (min-width:900px) {
    #mobile-nav-toggle {
        display: none
    }
}

.mobile-nav-toggle-bar {
    background: #0e83cd;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-transform-origin: 0;
    transform-origin: 0;
    border-radius: 2px
}

.mobile-nav-toggle-bar:first-child {
    top: 0
}

.mobile-nav-on .mobile-nav-toggle-bar:first-child {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.mobile-nav-toggle-bar:nth-child(2) {
    top: 9px
}

.mobile-nav-on .mobile-nav-toggle-bar:nth-child(2) {
    opacity: 0
}

.mobile-nav-toggle-bar:last-child {
    top: 18px
}

.mobile-nav-on .mobile-nav-toggle-bar:last-child {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.mobile-nav-link {
    color: green;
    text-decoration: none
}

.mobile-nav-link,
.mobile-nav-title {
    display: block;
    padding: 10px 15px;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.mobile-nav-title {
    color: #222;
    font-weight: 700;
    border-top: 1px solid #444;
    margin-top: 10px
}

#mobile-lang-select-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#mobile-lang-select-label {
    line-height: 40px;
    color: #fff;
    padding: 10px 15px
}

#mobile-lang-select-label i {
    opacity: .7
}

#mobile-lang-select-label span {
    padding-left: 8px
}

#mobile-lang-select {
    -webkit-appearance: menulist-button;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

#container {
    -webkit-transition: .4s;
    transition: .4s;
    height: 100%;
    -webkit-overflow-scrolling: touch
}

@keyframes intro {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.mobile-nav-on #container {
    -webkit-transform: translateX(160px);
    transform: translateX(160px);
    overflow: hidden
}

#mobile-nav-dimmer {
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    -webkit-transition: opacity .4s, -webkit-transform 0s .4s;
    transition: opacity .4s, transform 0s .4s
}

.mobile-nav-on #mobile-nav-dimmer {
    opacity: .7;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: opacity .4s;
    transition: opacity .4s
}

#footer {
    padding-top: 1rem;
    background: #f4f4f4;
    margin-top: -8.5em;
    min-height: 8.5em;
    position: relative;
}
