<footer id="footer">
    <div class="footer-wrapper">
        <div>
            <p><b><a href="/contact">联系我们</a></b></p>
            <p>邮箱：seqhealth@seqhealth.cn</p>
            <p>电话：027-65527552</p>
        </div>
        <div>
            <p>地址：武汉市东湖高新区高新大道666号光谷生物城c1栋2层</p>
            <p>公众号：康测科技（ 扫描右侧二维码关注 ）</p>
        </div>
        <div style="align-self: center;">
            <p><img src="/image/康测微信二维码.jpg">
            </p>
        </div>
    </div>
    <br>
    <p id="footer-copyright" style="text-align: center; font-size: 0.8rem;">
        Copyright &copy; 2011-2016 All Rights Reserved by <a href="/">武汉康测科技</a>　鄂ICP备16002452号-1
    </p>
</footer>
