<footer id="footer">
    <div class="wrapper" style="padding-left: 1em; padding-right: 1em;">
        <p style="font-size: 16px; margin-bottom: 0.5em; font-weight: 700;">联系我们</p>
        <div class="footer-panel col-sm-4">
            <p>邮箱：seqhealth@seqhealth.cn</p>
            <p>电话：027-65527552</p>
        </div>
        <div class="footer-panel col-sm-4">
            <div>地址：武汉市东湖高新区高新大道666号光谷生物城c1栋2层</div>
            <div>公众号：康测科技（ 扫描右侧二维码关注 ）</div>
        </div>
        <div class="footer-panel col-sm-4">
            <p style="text-align: center;"><img src="/image/康测微信二维码.jpg" style="width: 5.5em; height: 5.5em;">
            </p>
        </div>
    </div>
    <div id="footer-copyright" style="padding-top: 0.5em;">
        &copy; 2016-2017 <a href="https://seqhealth.cn" target="_blank">武汉康测科技</a>　鄂ICP备16002452号-1
    </div>
</footer>
