{% assign d = site.data %}
<!--导航栏部分-->
<header id="header" class="navbar-fixed-top">
    <div id="header-inner" class="wrapper">
        <a href="/"><img src="/image/LOGO-final.png" style="opacity: 1; padding-left: 1rem;"></a>
        <nav id="main-nav">
            {% for item in d.menu %} {% if item.name == "首页" %}
            <div class="dropdown">
              <a href="{{ item.link }}" class="main-nav-link nav-active">
                {{ item.name }}
              </a>
            </div>
            {% elsif item.name == "科研服务" %}
            <div class="dropdown"><a href="{{ item.link }}" class="main-nav-link">
                {{ item.name }}
            </a>
                <div class="dropdown-content" style="margin-left: -35%">
                    {% for product in d.science}
                        <div>
                        <div class="popover-item subtitle"><a class="popover-link">{{ producte[0].submain }}</a></div>
                        {% for item in product[1].subtitle %}
                        <div class="popover-item" ><a class="popover-link" href="{{ item.link }}">{{ item.name }}</a></div>
                        {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% elsif item.name == "医学检测" %}
            <div class="dropdown"><a href="{{ item.link }}" class="main-nav-link">
                {{ item.name }}
            </a>
                <div class="dropdown-content">
                    {% for item in d.clinical.subtitle %}
                    <div class="popover-item"><a class="popover-link" href="{{ item.link }}">{{ item.name }}</a></div>
                    {% endfor %}
                </div>
            </div>
            {% elsif item.name == "建库技术供应商" %}
            <div class="dropdown"><a href="{{ item.link }}" class="main-nav-link">
                {{ item.name }}
            </a>
                <div class="dropdown-content">
                    {% for item in d.medicine.subtitle %}
                    <div class="popover-item"><a class="popover-link" href="{{ item.link }}">{{ item.name }}</a></div>
                    {% endfor %}
                </div>
            </div>
            {% elsif item.name == "资讯中心" %}
            <div class="dropdown"><a href="{{ item.link }}" class="main-nav-link">
                {{ item.name }}
            </a>
                <div class="dropdown-content">
                    {% for item in d.news.subtitle %}
                    <div class="popover-item"><a class="popover-link" href="{{ item.link }}">{{ item.name }}</a></div>
                    {% endfor %}
                </div>
            </div>
            {% elsif item.name == "联系我们" %}
            <div class="dropdown"><a href="{{ item.link }}" class="main-nav-link">
                {{ item.name }}
            </a>
                <div class="dropdown-content">
                    {% for item in d.contact.subtitle %}
                    <div class="popover-item"><a class="popover-link" href="{{ item.link }}">{{ item.name }}</a></div>
                    {% endfor %}
                </div>
            </div>
            {% endif %} {% endfor %}
        </nav>
        <div id="lang-select-wrap">
            </label>
            <select id="lang-select" data-canonical="docs/index.html">
            </select>
        </div>
        <a id="mobile-nav-toggle">
            <div class="mobile-nav-toggle-bar"></div>
            <div class="mobile-nav-toggle-bar"></div>
            <div class="mobile-nav-toggle-bar"></div>
        </a>
    </div>
</header>
