<div id="exTab2">
    <ul class="nav nav-tabs" style="margin-left: 0px;">
        <li class="active">
            <a href="#1" data-toggle="tab">市场/销售</a>
        </li>
        <li><a href="#2" data-toggle="tab">生产部</a>
        </li>
        <li><a href="#3" data-toggle="tab">研发部</a>
        </li>
    </ul>
    <br>
    <div class="tab-content ">
        <div class="tab-pane active" id="1">
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">科技服务销售工程师</a>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <strong>岗位职责：【外派地点：北京、上海、新疆、沈阳、成都】</strong>
                            <ol>
                                <li>参与分管区域内销售活动的策划.做好销售推广执行等工作，配合公司进行的市场推广活动、学术产品讲座等工作；</li>
                                <li>负责辖区内市场状况，竞争对手和客户信息的收集分析和反馈；</li>
                                <li>定期拜访客户，积极维护所辖区域内的客户关系，与重要客户保持良好的关系，以维护企业品牌形象；</li>
                                <li>参加部门召开的销售会议或组织的培训；</li>
                                <li>完成相应的销售任务和销售货款回收任务；</li>
                                <li>按时完成公司或上级领导分派的各项工作。</li>
                            </ol>
                            <strong>任职资格：</strong>
                            <ol>
                                <li>生物学、生物技术、农学、医学相关专业，学习过遗传学、分子生物学、基因工程原理等相关课程，本科以上；</li>
                                <li>有1-3年生物芯片/测序服务或有科研领域销售工作经验优先考虑，优秀应届生，了解基因组学前沿进展，有高通量测序相关知识也可（有丰富的社会实践经验，或学生会干部优先考虑；优秀毕业生，了解基因组学前沿进展，有高通量测序相关知识或项目经验也可）；</li>
                                <li>有很强的学习能力，有创造性和主动性、开拓进取精神、较强的客户服务意识和团队合作精神；</li>
                                <li>性格开朗，良好的亲和力，具备较强的沟通能力和表达能力，乐于从事销售工作，执行力强，工作认真负责，能承受较大的工作压力；</li>
                                <li>具备熟练读写英文文献的能力； 6、不甘平庸，想有一番作为，追求高薪者。</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingNine">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">售前技术支持</a>
                </div>
                <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                    <div class="panel-body">
                        <strong>职位描述：</strong>
                        <ol>
                            <li>科技服务项目整体设计、销售前项目技术支持；</li>
                            <li>科技服务项目合同的审核；</li>
                            <li>项目签订过程中技术问题的解答、跟踪、归档；</li>
                            <li>售前技术资料、方案模板的整理、汇总；</li>
                            <li>与销售经理完成市场推广的学术报告。</li>
                            <li>完成部门主管布置的其他任务；</li>
                        </ol>
                        <strong>任职资格：</strong>
                        <ol>
                            <li>细胞生物学、分子生物学相关专业，硕士及以上学位；</li>
                            <li>熟悉高通量测序和基因表达调控；</li>
                            <li>较好的英文水平，需要具备快速阅读，并总结英文文献的能力；</li>
                            <li>具有较强的思维逻辑性和项目整体把握度；</li>
                            <li> 性格开朗，具有良好的沟通能力、人际关系处理能力及组织协调能力；</li>
                            <li>善于发现问题解决问题，反映敏捷，严谨细致，抗压及逻辑思维能力强；</li>
                            <li>工作责任心强，工作细心、有耐心、有条理。</li>
                            <li>有相关工作经验1年以上者优先；</li>
                            <li>具有高水平文章发表经历者优先；</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTen">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">售后技术支持</a>
                </div>
                <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                    <div class="panel-body">
                        <strong>职位描述：</strong>
                        <ol>
                            <li>科技服务项目结题报告审核、亮点挖掘、报告发送；</li>
                            <li>与客户直接对接，进行科技服务项目售后技术支持；</li>
                            <li>售后任务的收集、分解、执行监督；</li>
                            <li>售后资料、模板的整理、汇总；</li>
                            <li>与销售经理完成市场推广的学术报告；</li>
                            <li> 完成部门主管布置的其他任务；</li>
                        </ol>
                        <strong>任职资格：</strong>
                        <ol>
                            <li>细胞生物学、分子生物学相关专业，硕士及以上学位；</li>
                            <li>具有丰富的分子生物学实验经验，熟悉高通量测序和基因表达调控；</li>
                            <li>较好的英文水平，需要具备快速阅读，并总结英文文献的能力； </li>
                            <li>具有较强的思维逻辑性和项目整体把握度；</li>
                            <li> 性格开朗，具有良好的沟通能力、人际关系处理能力及组织协调能力；</li>
                            <li> 善于发现问题解决问题，反映敏捷，严谨细致，抗压及逻辑思维能力强；</li>
                            <li> 工作责任心强，工作细心、有耐心、有条理。</li>
                            <li> 有相关工作经验1年以上者优先；</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="2">
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">IP建库工程师</a>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <strong>职位描述：</strong>
                            <ol>
                                <li>IP标本接收、信息录入； </li>
                                <li>Chip-seq文库构建；</li>
                                <li>严格按照SOP进行生产，按时、高质量完成建库工作；</li>
                                <li>客观录入，完成项目执行过程中的记录和报告；</li>
                                <li>协助团队其他成员完成建库工作；</li>
                                <li>领导安排的其他任务。</li>
                            </ol>
                            <strong>任职资格：</strong>
                            <ol>
                                <li>分子生物学相关专业，本科及以上学历；</li>
                                <li>熟练掌握基础分子生物学技能，如PAGE凝胶电泳、Western Blot、PCR、RT-PCR等等； </li>
                                <li>具有IP经验者优先考虑；</li>
                                <li>良好的英语能力和文献阅读能力，良好的学习能力；</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">二代测序建库工程师</a>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <strong>职位描述：</strong>
                        <ol>
                            <li>实验室标本接收、信息录入；</li>
                            <li>核酸提取、质检，高通量测序文库构建；</li>
                            <li>严格按照SOP进行生产，按时、高质量完成建库工作；</li>
                            <li>客观录入，完成项目执行过程中的记录和报告； 5协助团队其他成员完成建库工作；</li>
                            <li>领导安排的其他任务。 </li>
                        </ol>
                        <strong>任职资格：</strong>
                        <ol>
                            <li>分子生物学相关专业，本科及以上学历；</li>
                            <li>热爱实验室工作，对高通量测序和医学基因检测具有浓厚兴趣；</li>
                            <li>熟练掌握基础分子生物学技能，如DNA/RNA提取、PCR、RT-PCR、realtime PCR等等；</li>
                            <li>良好的英语能力和文献阅读能力，良好的学习能力；</li>
                            <li>具有一年以上二代测序建库经验者优先考虑。</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingEight">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">生物信息分析工程师</a>
                </div>
                <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                    <div class="panel-body">
                        <strong>职位描述：</strong>
                        <ol>
                            <li>二代测序数据的数据处理、评估和分析；</li>
                            <li>严格按照SOP进行生产，按时、高质量完成分析工作；</li>
                            <li>客观录入，完成项目执行过程中的记录，并出具分析报告；</li>
                            <li>自主解决分析中遇到的技术问题，并整理、汇报，完善SOP；</li>
                            <li>配合部门领导，完成公司所有的信息学分析工作；</li>
                            <li>对自己完成的分析结果负责，针对客户的个性化需求和问题，提出解决策略、团队讨论通过并答疑。</li>
                        </ol>
                        <strong>任职资格：</strong>
                        <ol>
                            <li>遗传学、基因组学、生物信息学、数学、统计学、计算机相关专业本科及以上学历；</li>
                            <li>热爱生物信息学，勇于迎接挑战；</li>
                            <li>拥有较强的编程能力，掌握并使用Perl、Python、R、C/C++等至少一种编程语言，熟练使用linux操作系统；</li>
                            <li>熟悉常用生物学软件和数据库；</li>
                            <li>有NGS测序数据分析经验者优先； 6﹜良好的语言和沟通能力（英语四级以上）。</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="3">
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">建库开发工程师</a>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
                            <strong>职位描述：</strong>
                            <ol>
                                <li>负责二代测序建库技术的研发、分析、问题解决、sop形成；</li>
                                <li> 根据开发需求，独立完成背景调研、实验设计、可行性分析及执行；</li>
                                <li>负责开发项目进展报告、结题报告的起草，定期向技术总监汇报；</li>
                                <li>根据sop高效规范的进行二代测序建库工作；</li>
                                <li>实时跟踪并整理领域内文献、技术的更新，结合公司业务特点，提出开发建议；</li>
                                <li> 负责公司内部二代测序建库技术的培训；</li>
                                <li>负责二代测序建库技术的外部技术支持；</li>
                            </ol>
                            <strong>任职资格：</strong>
                            <ol>
                                <li>具备分子生物学、遗传学等相关专业硕士以上学历；</li>
                                <li>具有丰富的分子生物学实验经验，如核酸提取、PCR扩增，具有Chip/RIP/Clip实验经验者优先；</li>
                                <li>具备1年以上的二代测序建库经验；</li>
                                <li>熟悉二代测序建库、测序原理；</li>
                                <li>熟练使用生物学专业软件，具有引物设计、序列查询、比对的丰富经验；</li>
                                <li>具备很强的英文文献查询和阅读能力，英语六级（必需条件）；</li>
                                <li>熟悉生物学常用数据库；</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFive">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">生信息开发工程师（重测序方向）</a>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                        <div class="panel-body">
                            <strong>职位描述：</strong>
                            <ol>
                                <li>在信息学总监的指导下，搭建并维护公司生物信息学分析平台；</li>
                                <li>独立搭建并完善DNA重测序、外显子组信息学分析pipeline，并形成SOP；</li>
                                <li>在信息学总监的指导下，开发不同癌症基因组突变指纹识别算法；</li>
                                <li>4﹜解决研发项目中的信息学分析问题；</li>
                                <li>负责生物信息学分析团队的人才建设和培训；</li>
                            </ol>
                            <strong>任职资格：</strong>
                            <ol>
                                <li>遗传学、基因组学、生物信息学、数学、统计学、计算机相关专业硕士以上学历；</li>
                                <li>熟悉二代测序数据分析，具有2年以上的NGS生物信息开发经验【必需条件】；</li>
                                <li>熟练掌握并使用Perl、Python、R、C/C++等编程语言【必需条件】，熟练使用linux操作系统；</li>
                                <li>良好的英文读写能力（英语六级以上）和文献阅读能力；</li>
                                <li>抗压能力强，能接受加班；</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingSix">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">生信息开发工程师（转录组方向）</a>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                        <div class="panel-body">
                            <strong>职位描述：</strong>
                            <ol>
                                <li>在信息学总监的指导下，搭建并维护公司生物信息学分析平台；</li>
                                <li>独立搭建并完善转录组、lncRNA等信息学分析pipeline，并形成SOP</li>
                                <li>解决研发项目中的信息学分析问题； </li>
                                <li>负责生物信息学分析团队的人才建设和培训；</li>
                            </ol>
                            <strong>任职资格：</strong>
                            <ol>
                                <li>遗传学、基因组学、生物信息学、数学、统计学、计算机相关专业硕士以上学历；</li>
                                <li>熟悉二代测序数据分析，具有2年以上的NGS生物信息开发经验【必需条件】；</li>
                                <li>熟练掌握并使用Perl、Python、R、C/C++等编程语言【必需条件】，熟练使用linux操作系统；</li>
                                <li>良好的英文读写能力（英语六级以上）和文献阅读能力；</li>
                                <li>抗压能力强，能接受加班</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingSeven">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">生信息开发工程师（IP方向）</a>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                        <div class="panel-body">
                            <strong>职位描述：</strong>
                            <ol>
                                <li>在信息学总监的指导下，搭建并维护公司生物信息学分析平台；</li>
                                <li>独立搭建并完善Chip-seq、RIP-seq等信息学分析pipeline，并形成SOP；</li>
                                <li>解决研发项目中的信息学分析问题；</li>
                                <li>负责生物信息学分析团队的人才建设和培训；</li>
                            </ol>
                            <strong>任职资格：</strong>
                            <ol>
                                <li>遗传学、基因组学、生物信息学、数学、统计学、计算机相关专业硕士以上学历；</li>
                                <li>熟悉二代测序数据分析，具有2年以上的NGS生物信息开发经验【必需条件】；</li>
                                <li>熟练掌握并使用Perl、Python、R、C/C++等编程语言【必需条件】，熟练使用linux操作系统；</li>
                                <li>良好的英文读写能力（英语六级以上）和文献阅读能力；</li>
                                <li>抗压能力强，能接受加班；</li>
                                <li>具有Chip-seq分析、开发经验者优先；</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
