<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
    <div id="container">
        {% include header.html %} {% include back_to_top.html %}
        <div id="content-wrap" class="wrapper">
            {{ content }}
        </div>
        {% include footer.html %}
    </div>
    {% include mobile.html %}
    <!-- Homepage Main Image Showcase -->
    <script src="/js/d3.min.js"></script>
    <script type="text/javascript">
    d3.selectAll("rect").each(function(){
        d3.select(this).on("click", function(){
            d3.selectAll("rect")
            .attr("class", "rectangle-box");
            d3.select(this)
            .classed("rect-active", true);
            var id = d3.select(this).attr("id");
            d3.selectAll("div").each(function(){
                d3.select(this).classed("show-intro", false);
                if(id == d3.select(this).attr("class")){
                    d3.select("." + id).attr("class", id + " show-intro");
                }
            })
        });
    })
    </script>
    <script src="/js/main.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $(window).scroll(function() {
            if ($(this).scrollTop() > 100) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        $('#back-to-top').click(function() {
            $('html, body').animate({
                scrollTop: 0
            }, 'slow');
            return false;
        });
        var pathname = window.location.pathname;
        $('.main-nav-link').each(function() {
            if (pathname.indexOf($(this)[0].pathname) > -1) {
                $('nav div a').removeClass("nav-active");
                $(this).addClass("nav-active");
            }
        });

        $('.sidebar-link').each(function() {
            if (pathname == $(this)[0].pathname) {
                $('.sidebar-link').removeClass("sidebar-active");
                $(this).addClass("sidebar-active");
            }
        });
    });
    </script>
</body>

</html>
