<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
    <div id="container">
        {% include header.html %} {% include back_to_top.html %}
        <div id="content-wrap" class="wrapper">
            {{ content }}
        </div>
        {% include footer.html %}
    </div>
    {% include mobile.html %}
    <script src="/js/d3.min.js"></script>
    <script type="text/javascript">
    // var class_svg = "classic-svg";
    // var word = ["全基因组重测序", "circRNA测序", "smallRNA测序", "外显子组测序", "ChIP测序", "全转录组测序", "mRNA测序", "RIP测序"];
    // var id = ["resequencing", "circRNA_sequencing", "small_RNA_sequencing", "exon_sequencing", "ChIP_sequencing", "transcriptome_sequencing", "mRNA_sequencing", "RIP_sequencing"];
    // var holder = d3.select("svg")
    //     .attr('preserveAspectRatio', "xMinYMin meet")
    //     .attr("class", class_svg)
    //     .attr("viewBox", "0 0 770 372");

    // holder.append("rect")
    //     .attr("id", id[0])
    //     .attr("class", "rectangle-box rect-active")
    //     .attr("x", 20)
    //     .attr("y", 195)
    //     .attr("height", 35)
    //     .attr("width", 100)
    //     .attr("rx", 1)
    //     .attr("ry", 1);

    // holder.append("text")
    //     .attr("x", 70)
    //     .attr("y", 217)
    //     .style("fill", "black")
    //     .style("font-size", "0.8rem")
    //     .attr("text-anchor", "middle")
    //     .style("pointer-events", "none")
    //     .text(word[0]);

    // holder.append("rect")
    //     .attr("id", id[1])
    //     .attr("class", "rectangle-box")
    //     .attr("x", 125)
    //     .attr("y", 195)
    //     .attr("height", 35)
    //     .attr("width", 80)
    //     .attr("rx", 1)
    //     .attr("ry", 1);

    // holder.append("text")
    //     .attr("x", 165)
    //     .attr("y", 217)
    //     .style("fill", "black")
    //     .style("font-size", "0.8rem")
    //     .attr("text-anchor", "middle")
    //     .style("pointer-events", "none")
    //     .text(word[1]);

    // holder.append("rect")
    //     .attr("id", id[2])
    //     .attr("class", "rectangle-box")
    //     .attr("x", 210)
    //     .attr("y", 195)
    //     .attr("height", 35)
    //     .attr("width", 90)
    //     .attr("rx", 1)
    //     .attr("ry", 1);

    // holder.append("text")
    //     .attr("x", 255)
    //     .attr("y", 217)
    //     .style("fill", "black")
    //     .style("font-size", "0.8rem")
    //     .attr("text-anchor", "middle")
    //     .style("pointer-events", "none")
    //     .text(word[2]);

    // holder.append("rect")
    //     .attr("id", id[3])
    //     .attr("class", "rectangle-box")
    //     .attr("x", 305)
    //     .attr("y", 195)
    //     .attr("height", 35)
    //     .attr("width", 90)
    //     .attr("rx", 1)
    //     .attr("ry", 1);

    // holder.append("text")
    //     .attr("x", 350)
    //     .attr("y", 217)
    //     .style("fill", "black")
    //     .style("font-size", "0.8rem")
    //     .attr("text-anchor", "middle")
    //     .style("pointer-events", "none")
    //     .text(word[3]);

    // holder.append("rect")
    //     .attr("id", id[4])
    //     .attr("class", "rectangle-box")
    //     .attr("x", 400)
    //     .attr("y", 195)
    //     .attr("height", 35)
    //     .attr("width", 70)
    //     .attr("rx", 1)
    //     .attr("ry", 1);

    // holder.append("text")
    //     .attr("x", 435)
    //     .attr("y", 217)
    //     .style("fill", "black")
    //     .style("font-size", "0.8rem")
    //     .attr("text-anchor", "middle")
    //     .style("pointer-events", "none")
    //     .text(word[4]);

    // holder.append("rect")
    //     .attr("id", id[5])
    //     .attr("class", "rectangle-box")
    //     .attr("x", 475)
    //     .attr("y", 195)
    //     .attr("height", 35)
    //     .attr("width", 90)
    //     .attr("rx", 1)
    //     .attr("ry", 1);

    // holder.append("text")
    //     .attr("x", 520)
    //     .attr("y", 217)
    //     .style("fill", "black")
    //     .style("font-size", "0.8rem")
    //     .attr("text-anchor", "middle")
    //     .style("pointer-events", "none")
    //     .text(word[5]);

    // holder.append("rect")
    //     .attr("id", id[6])
    //     .attr("class", "rectangle-box")
    //     .attr("x", 570)
    //     .attr("y", 195)
    //     .attr("height", 35)
    //     .attr("width", 80)
    //     .attr("rx", 1)
    //     .attr("ry", 1);

    // holder.append("text")
    //     .attr("x", 610)
    //     .attr("y", 217)
    //     .style("fill", "black")
    //     .style("font-size", "0.8rem")
    //     .attr("text-anchor", "middle")
    //     .style("pointer-events", "none")
    //     .text(word[6]);

    // holder.append("rect")
    //     .attr("id", id[7])
    //     .attr("class", "rectangle-box")
    //     .attr("x", 660)
    //     .attr("y", 195)
    //     .attr("height", 35)
    //     .attr("width", 60)
    //     .attr("rx", 1)
    //     .attr("ry", 1);

    // holder.append("text")
    //     .attr("x", 690)
    //     .attr("y", 217)
    //     .style("fill", "black")
    //     .style("font-size", "0.8rem")
    //     .attr("text-anchor", "middle")
    //     .style("pointer-events", "none")
    //     .text(word[7]);

    d3.selectAll("rect").each(function(){
        d3.select(this).on("click", function(){
            d3.selectAll("rect")
            .attr("class", "rectangle-box");
            d3.select(this)
            .classed("rect-active", true);
            var id = d3.select(this).attr("id");
            d3.selectAll("div").each(function(){
                d3.select(this).classed("show-intro", false);
                if(id == d3.select(this).attr("class")){
                    d3.select("." + id).attr("class", id + " show-intro");
                }
            })
        });
    })
    </script>
    <script src="/js/main-93b96d8a86.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $(window).scroll(function() {
            if ($(this).scrollTop() > 100) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        $('#back-to-top').click(function() {
            $('html, body').animate({
                scrollTop: 0
            }, 'slow');
            return false;
        });
        var pathname = window.location.pathname;
        $('.main-nav-link').each(function() {
            if (pathname.indexOf($(this)[0].pathname) > -1) {
                $('nav div a').removeClass("nav-active");
                $(this).addClass("nav-active");
            }
        });

        $('.sidebar-link').each(function() {
            if (pathname == $(this)[0].pathname) {
                $('.sidebar-link').removeClass("sidebar-active");
                $(this).addClass("sidebar-active");
            }
        });
    });
    </script>
</body>

</html>
