---
layout: default
---

<div id="content-inner">
    {% include sidebar.html %}
    <article class="article-container">
      <div class="article">
        <header class="article-header">
          <h1 class="article-title" itemprop="name"><b>{{page.title}}</b></h1>
        </header>
        <nav class="js-toc"></nav>
        <div class="article-content" itemprop="articleBody">
          {{ content }}
        </div>
      </div>
    </article>
</div>
<script src="/js/tocbot.js"></script>
<script type="text/javascript">
  tocbot.init({
  // Where to render the table of contents.
  tocSelector: '.js-toc',
  // Where to grab the headings to build the table of contents.
  contentSelector: '.article-content',
  // Which headings to grab inside of the contentSelector element.
  headingSelector: 'h1, h2, h3',
});
</script>